@import "./style-variables.css";
@import "./nav-bar.css";

body.about {
  font-family: var(--fontfamily);
  align-items: center;
  font-size: 20px;
  margin: 55px 0 0 0;
  justify-content: center;
}

header {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
 
header video {
  position: absolute;
  z-index: -1;
  object-fit: fill;
  width: 100%;
  height: calc(100vh - 55px);
  top: 0;
}


.mission, .problem div, .solution div, .history {
  width: calc(100vw - 40%);
  margin: auto;
}

.mission h2 {
  margin: 0;
  text-shadow: 1px 0 1px var(--offwhite);
}

.problem, .solution {
  display: flex;
  text-align: left;
  margin: auto;
  width: calc(100vw - 20%);
  height: 200px;
  align-items: center;
} 
.problem p:first-child, .solution p:first-child {
  font-size: 30px;
  padding: 10px;
}

.problem h3, .solution h3, .problem p, .solution p, .history h3, .history p {
  margin: 5px;
  padding: 0;
}

.problem img, .solution img {
  width: 128px;
  height: 128px;
}

/* .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 31vh 30vh 30vh;
  height: 100vh;
}

div.stats {
  grid-column: span 1;
  grid-row: span 2;
  background-color: var(--offwhite);
  margin: auto;
  padding: 0 10px;
  font-size: 16px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

div.mission {
  font-size: 16px;
  grid-column: span 4;
  grid-row: span 1;
  margin: auto;
  background-color: var(--popcornyellow);
  height: 100%;
}

div.mission p {
  padding: 0 15px;
}

div.lloyd-image {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 1;
  grid-row: span 1;
  background-color: var(--purple);
}

div.lloyd-image img {
  max-height: 150px;
}

div.lloyd {
  grid-column: span 3;
  grid-row: span 1;
  background-color: var(--lightgrey);
  height: 100%;
  padding: 0px 10px;
} */

/* ========================================================================== */
/* avatar-section */
.avatar-section {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 2%;
  padding-right: 2%;
}

.avatar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.avatar-container {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.avatar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--lightgrey);
  border-radius: 100%;
  /* padding-top: 50%; */
  height: 160px;
  width: 160px;
  margin-right: 5px;
  margin-left: 5px;
}

.avatar-image {
  height: 60%;
  width: auto;
}

.avatar-name {
  text-align: center;
}

.avatar-header {
  margin-bottom: 50px;
  text-align: center;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .avatar-section {
    padding-left: 5%;
    padding-right: 5%;
  }

  .avatar-container {
    width: 33.333%;
  }
}

/* Medium devices (tablets portrait, 768px and up)  */
@media (min-width: 768px) {
  .avatar-container {
    width: 33.333%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .avatar-container {
    width: 33.333%;
  }

  .avatar-section {
    padding-left: 15%;
    padding-right: 15%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .avatar-section {
    padding-left: 20%;
    padding-right: 20%;
  }

  .avatar-container {
    width: 33.333%;
  }
}


/* ========================================================================== */

