/* Mobile first approach. Responsive breakpoints are listed smallest to highest */
/* Small devices, Phones up to 575px */

yamovie-movie-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

yamovie-movie-item {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  yamovie-movie-item {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* Medium devices (tablets portrait, 768px and up)  */
@media (min-width: 768px) {
  yamovie-movie-item {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  yamovie-movie-item {
    width: 33.333%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
  }

  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  yamovie-movie-item {
    width: 25%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
