@import "./style-variables.css";
@import "./landing-cards.css";

#landing-body {
  background-color: #eeeeee;
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  font-size: 24px;
  margin-top: 40px;
}

#landing-body a {
  color: white;
  border-radius: 3px;
  padding: 15px 25px;
}


#link-container {
  height: 100vh;
  max-width: 100%;
  background-image: url("../images/landing-bg-v1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

#link-info {
  position: relative;
  top: 20vh;
  left: 0;
  right: 0;
}

#landing-quote {
  color: var(--darkgrey);
  position: relative;
  top: 30vh;
  left: 0;
  right: 0;
}

#landing-quote h3 {
  opacity: .7;
  font-family: 'Roboto', sans-serif;
}

.landing-links {
  border-radius: 10px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  position: relative;
  display: inline-block;
}

.landing-links a {
  font-family: 'Roboto', sans-serif;
}

.landing-color {
  background-color: var(--lightgrey);
  opacity: .8;
  box-shadow: 0px 3px 0px 0px #525252;
  font-family: 'Roboto', sans-serif;
}

.landing-color:hover {
  background-color: #B573D0;
}

#overview {
  padding: 0.5rem;
  margin: 2em auto;
  max-width: 800px;
  flex-flow: row;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

#overview img {
  width: 500px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#movie-summary {
  text-align: center;
  margin: 0;
}

#chatbot-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 999;
  background-color: var(--lightgrey);
  opacity: .9;
  padding: 15px 25px;
  box-shadow: 0px 3px 0px 0px #525252;
  border-radius: 5px;
  font-size: 22px;
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  border: none;
}

#chatbot-btn:hover {
  background-color: #B573D0;
}

#chatbot-btn:focus {
  outline: 0;
}

/* a {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 10px;
  color: var(--darkgrey);
  background-color: var(--offwhite);
  border: solid var(--purple) 2px;
  box-shadow: 2px 4px 3px var(--lightgrey);
}

a:hover {
  background-color: rgba(136, 56, 140, 0.70);
} */