@import './reset.css';
@import './browse-page.css';
@import './style-variables.css';
@import './movie-card.css';
@import './nav-bar.css';
@import './signup.css';
@import './index.css';
@import './lloyd-chat.css';

body {
  margin-top: 60px;
  background-color: var(--darkgrey);
  font-size: 20px;
}