yamovie-movie-form {
  text-align: center;
}

yamovie-movie-form h1 {
  background-color: var(--red);
  margin: 0px;
  padding: 10px;
  color: var(--offwhite);
  text-shadow: 2px 2px var(--darkgrey);
}

yamovie-movie-form .form {
  background-color: var(--offwhite);
  margin: 0px;
  /* padding: 10px 0px; */
}

yamovie-movie-form ul {
  padding: 10px 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

yamovie-movie-form .odds {
  background-color: var(--offwhite);
}

yamovie-movie-form .evens {
  background-color: var(--popcornyellow);
}

yamovie-movie-form .form-group {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 40vw;
}

yamovie-movie-form button {
  font-size: 24px;
  margin: 10px;
  margin-left: 5%;
  background-color: var(--purple);
  color: var(--offwhite);
}
