/* Variables */
:root {
	--purple: #88388c;
	--red: #db2b39;
	--lightgrey: #747180;
	--darkgrey: #23262e;
	--offwhite: #f5f8e8;
	--popcornyellow: #ffe695;
}

/* purple: rgb(136, 56, 140)
red: rgb(219, 43, 57)
lightgrey: rgb(116, 113, 128)
darkgrey: rgb(35, 38, 46)
offwhite: rgb(245, 248, 232)
popcornyellow: rgb(255, 230, 149)
*/
