body {
  width: 100vw;
  font-family: serif;
  text-align: center;
  justify-content: center;
  background-color: #23262e;
  color: #747580;
  padding: 10px;
  font-size: 24px;
}

h1, h2 {
  color: #88388c;
}
h3 {
  color: #db2b39;
}
h2 {
  transform: translate(20vw, -80px) rotate(10deg);
  max-width: max-content;
  margin: auto;
}

p {
  margin: auto;
  max-width: 60vw;
}