/* Small devices (landscape phones, 576px and up) */

* {
  box-sizing: border-box;
}

body {
  margin-left: 5px;
  margin-right: 50px;
}

h2,
p {
  margin: 0;
}

.movie-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.movie-item {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

@media (min-width: 576px) {
  .movie-item {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {
  .movie-item {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .movie-item {
    width: 33.333%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .movie-item {
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
