/* ================================= Animations ================================= */

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes collapseLeft {
  0% { opacity: 1; }
  50% { opacity: 0; display: none;}
  100% { opacity: 0; width: 0; padding-left: 0; padding-right: 0; }
}

/* ============================================================================= */

.watchlist-togglebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--offwhite);
}

.watchlist-togglebar a {
  cursor: pointer;
  font-size: 18px;
}

.watchlist-movie .poster-container {
  position: relative;
}

.watchlist-buttons {
  position: absolute;
  top: 0;
  left: 1px;
}

.watchlist-button {
  font-size: 18px;
  margin-left: 2px;
  padding: 10px 5px;
  border: none;
  border-radius: 0 0 3px 3px;
  background:rgb(136, 56, 140);
  cursor: pointer;
}

.favorite-button {
  color: goldenrod;
}

.favorite-button:hover {
  color: white;
}

.watched-button {
  color: var(--offwhite);
}

.collapse-left {
  animation: collapseLeft 2s forwards;
}

.watchlist-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.watchlist-movie {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 100%;
}

.watchlist-filter {
  display: flex;
  justify-content: flex-end;
}

.watchlist-filter-btn {
  background: none;
  border: none;
  margin: none;
}

.watchlist-message {
  color: var(--offwhite);
  margin-top: 10px;
}

.watchlist-remove-btn {
  font-size: 14px;
  margin: 0;
  margin-top: 5px;
  padding: 3px;
  border: none;
  background: rgba(90, 90, 90, 0.5);
  cursor: pointer;
  color: var(--offwhite);
  cursor: pointer;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .watchlist-movie {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
  }
}

/* Medium devices (tablets portrait, 768px and up)  */
@media (min-width: 768px) {
  .watchlist-movie  {
    width: 45%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .watchlist-movie  {
    width: 28.333%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .watchlist-movie  {
    width: 23%;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
