.about-page {
  /* align-items: center; */
  justify-content: center;
}

/* ========================================================================== */
/* mission-section */

.about-page header {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 55px);
}

.about-page header video {
  position: absolute;
  z-index: -2;
  object-fit: fill;
  width: 100%;
  height: 100%;
  top: 0;
}

.about-page header .overlay {
  position: absolute;
  z-index: -1;
  object-fit: fill;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.about-page .mission,
.about-page .info-panel div {
  margin: auto;
}

.about-page .mission {
  padding-left: 30px;
  padding-right: 30px;
  color: var(--offwhite);
}

.about-page .mission h1 {
  margin: 0;
  line-height: 1.5;
  text-shadow: 2px 1px 0px var(--red);
  letter-spacing: 1.6px;
  font-weight: 900;
}

.about-page .mission p {
  letter-spacing: 1.3px;
  line-height: 2;
  text-shadow: 1px 0px 0.25px var(--red);
}

/* ========================================================================== */
/* info-section */

.about-page .info h3 {
  text-align: center;
  line-height: 2.1;
}

.about-page .info p {
  letter-spacing: 1px;
  line-height: 1.5;
  color: var(--darkgrey);
}

.about-page .info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--offwhite);
}

.about-page .info-panel {
  flex-wrap: wrap;
  display: flex;
  text-align: left;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.about-page .info-panel h3,
.about-page .info-panel p {
  margin: 5px;
  padding: 0;
}

.about-page .info-panel p {
  padding-bottom: 10px;
}

.about-page .info-panel img {
  width: 120px;
  /* height: 120px; */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 600px) {
  .about-page .info h3 {
    text-align: left;
    line-height: 2.1;
  }

  .about-page .about-icon {
    margin-right: 50px;
  }

  .about-page .info-panel {
    flex-wrap: nowrap;
  }

  .about-page .info {
    padding-left: 50px;
    padding-right: 50px;
  }

  .about-page .team-section {
    padding-left: 5%;
    padding-right: 5%;
  }

  .about-page .team-container {
    width: 33.333%;
  }
}

/* Medium devices (tablets portrait, 768px and up)  */
@media (min-width: 768px) {
  .about-page .mission {
    padding-left: 150px;
    padding-right: 150px;
  }

  .about-page .info {
    padding: 50px 100px;
  }

  .about-page .team-container {
    width: 33.333%;
  }

  .about-page .mission p {
    font-size: 24px;
    letter-spacing: 1.5px;
    line-height: 2;
  }
  .about-page .team-section {
    padding-left: 10%;
    padding-right: 10%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .about-page .mission {
    padding-left: 280px;
    padding-right: 280px;
  }

  .about-page .info {
    padding: 50px 200px;
  }

  .about-page .team-container {
    width: 33.333%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .about-page .team-section {
    padding-left: 15%;
    padding-right: 15%;
  }

  .about-page .team-container {
    width: 33.333%;
  }

  .about-page .info {
    padding: 50px 250px;
  }

  .about-page .info-panel {
    margin: 0%;
  }

  .about-page .info-panel div {
    margin-left: 5%;
  }
}

@media (min-width: 1350px) {
  .about-page .team-section {
    padding-left: 10%;
    padding-right: 10%;
  }

  .about-page .team-container {
    width: 33.333%;
  }

  .about-page .info {
    padding: 50px 250px;
  }
}
@media (min-width: 1600px) {
  .about-page .team-section {
    padding-left: 15%;
    padding-right: 15%;
  }

  .about-page .team-container {
    width: 33.333%;
  }

  .about-page .info {
    padding: 50px 250px;
  }
}
@media (min-width: 1900px) {
  .about-page .team-section {
    padding-left: 20%;
    padding-right: 20%;
  }

  .about-page .team-container {
    width: 33.333%;
  }

  .about-page .info {
    padding: 50px 15%;
  }
}
