/* ========================================================================== */
/* team-section */

.about-page .team-header {
  color: var(--offwhite);
  text-align: center;
}

.about-page .team-section {
  width: 100%;
  background: var(--purple);
  padding: 40px 2%;
  padding-bottom: 6%;
}

.about-page .team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.about-page .team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-right: 20px;
  padding: 8px;
  background-color: var(--offwhite);
  border-radius: 15px;
  width: 260px;
  height: auto;
  cursor: pointer;
  outline: none;
  transition: box-shadow 0.3s ease-in-out;
}

.about-page .team-member:hover {
  /* transform: scale(1.01); */
  box-shadow: 0px 0px 4px 2px var(--darkgrey);
}

.team-member .member-image {
  height: 100px;
  margin: 30px;
}

.team-member .member-name {
  color: var(--darkgrey);
  text-decoration: underline;
  text-align: center;
  margin: 14px 0px 0px 0px;
}

.team-member .member-role {
  color: var(--darkgrey);
  text-align: center;
  margin-top: 4px;
}

.team-member .member-info {
  padding: 12px;
  margin-top: 0.5rem;
  height: auto;
  text-align: center;
  /* height: 200px;
  overflow: hidden;
  transition: all 0.4s ease-in-out; */
}

.team-member .info-line {
  color: var(--darkgrey);
  font-size: 18px;
  /* text-align: left; */
  margin-bottom: 7px;
}

.member-info .info-category {
  font-weight: 500;
  margin-bottom: 3px;
}

.member-info .contact {
  /* border: 1px solid blue; */
  border-radius: 10px;
  padding: 4px 6px;
  line-height: 2;
  text-decoration: none;
  color: var(--darkgrey);
}

.member-info .contact:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 2px 2px var(--purple);
}

.member-info .info-value {
  font-style: italic;
  /* padding-left: 15px; */
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.team-member .expand-icon {
  margin: 0.5rem 0px;
  font-size: 24px;
  color: var(--darkgrey);
  font-weight: bolder;
  transition: transform 0.4s ease-in-out;
}

.team-member .expand-icon.open {
  transform: rotate(180deg);
}

/*=====================================================================================*/
/*Media Queries*/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 600px) {
  .about-page .team-section {
    padding-left: 5%;
    padding-right: 5%;
  }
}

/* Medium devices (tablets portrait, 768px and up)  */
@media (min-width: 768px) {
  .about-page .team-section {
    padding-left: 10%;
    padding-right: 10%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .about-page .team-section {
    padding-left: 15%;
    padding-right: 15%;
  }
}

@media (min-width: 1350px) {
  .about-page .team-section {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (min-width: 1600px) {
  .about-page .team-section {
    padding-left: 15%;
    padding-right: 15%;
  }
}

@media (min-width: 1900px) {
  .about-page .team-section {
    padding-left: 0%;
    padding-right: 0%;
  }
}
