@import '../style-variables.css';

.dashboard-page {
  display: flex;
  /* justify-content: space-between; */
  min-height: calc(100vh - var(--nav-height));

  --acc-nav-width: 18%;
}

.dashboard-page .account-pane {
  padding: 15px;
  width: calc(100% - var(--acc-nav-width));
  background-color: var(--darkgrey);
}

/* ===================================================== */
/* Nav Sidebar */

.account-nav {
  background: var(--offwhite);
  padding: 15px;
  width: var(--acc-nav-width);
  position: sticky;
  top: var(--nav-height);
  height: calc(100vh - var(--nav-height));
  line-height: 1.5;
  color: var(--darkgrey);
}

.account-nav .user-name,
.account-nav .nav-link {
  padding: 5px 10px;
}

.account-nav .user-name {
  font-weight: bold;
  text-decoration: underline;
}

.account-nav .nav-link {
  display: block;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  color: var(--midgrey);
  margin: 10px 0px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.account-nav .nav-link.active {
  background-color: var(--purple);
  color: var(--offwhite);
}

.account-nav ul {
  margin: 0;
  list-style-type: none;
}
.account-nav ul li {
  padding: 25px 0;
}

.account-nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: var(--darkgrey);
}

.account-title {
  font-size: 28px;
  color: var(--offwhite);
  text-align: left;
}

.account-sub-title {
  font-size: 20px;
  color: var(--offwhite);
  text-align: left;
  /* padding: 15px 0; */
  line-height: 3;
}

/* 
============================== Account Settings ============================================
*/

.form-input-group label {
display: flex;
}

.account-settings-form {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.account-settings-form label {
  color: var(--offwhite);
  margin-bottom: 5px;
}

.account-settings-form button {
  max-width: 100px;
  padding: 5px;
}

.password-field {
  position: relative;
  width: 300px;
  margin-bottom: 15px;
}

.password-field input {
  padding-right: 25px;
  border-radius: 10px;
  border: none;
}

.show-password-toggle {
  position: absolute;
  font-size: 18px;
  right: 5px;
  transform: translateY(25%);
  cursor: pointer;
}

.account-settings-form input {
  padding: 8px;
  width: 100%;
}

/*
======================= User Preferences ===========================
*/

.preferences-form .form-control {
  padding-top: 15px;
  padding-bottom: 15px;
}

.form-label {
  color: white;
  padding-right: 5px;
}


/*
======================= Toggle Switch ===========================
*/

.switch-label {
  display: inline-block;
  min-width: 80px;
}

.rating-display {
  padding-left: 5px;
}

.reset-button {
  padding: 5px 10px;
  border: none;
  margin: 0;
  margin-top: 10px;
  background-color: var(--purple);
  border-radius: 15px;
  color: white;
  font-size: 20px;
}


/*
======================= Genre List ===========================
*/

.single-genre {
  padding: 8px;
}

/* The container */
.checkmark-container {
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkmark-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkmark-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkmark-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkmark-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.top-label {
  display: block;
}

/* ======================================================= */
/* Responsiveness */

/* Very small devices (old phones, under 576px) */
@media (max-width: 576px) {
  .dashboard-page {
    --acc-nav-width: 25%;
    font-size: 0.7rem;
  }

  .account-nav {
    padding: 3px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 768px) {
  .dashboard-page {
    --acc-nav-width: 22%;
    font-size: 0.85rem;
  }

  .account-nav {
    padding: 10px;
  }
}

/* Medium devices (tablets portrait, 768px and up)  */
@media (min-width: 768px) and (max-width: 992px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1500px) {
}

/* Extra large devices (large desktops, 1500px and up) */
@media (min-width: 1500px) {
}

/* ===================================================== */
