.topnav {
  --pride-gradient: linear-gradient(
    to right,
    var(--purple) 16%,
    indigo 30%,
    blue 44%,
    green 58%,
    yellow 72%,
    orange 84%,
    red 98%
  );

  --item-color: var(--offwhite);

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--purple);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-family: var(--fontfamily);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.desktop-nav {
  display: none;
}

.nav-item {
  position: relative;
  color: var(--item-color);
  text-decoration: none;
  margin-left: 20px;
  font-family: var(--fontfamily);
  padding: 10px;
  font-size: 18px;
}

.nav-item:before,
.nav-item:after {
  position: absolute;
  width: 1px;
  height: 100%;
  /* transform: translateY(100%); */
  background: var(--item-color);
  content: '';
  opacity: 0.2;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}

.nav-item:before {
  transition: 0.3s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  opacity: 0.1;
}

.nav-item:after {
  transition: 0.3s ease;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  content: '';
  opacity: 0.1;
}

.nav-item:hover::before {
  left: 50%;
  opacity: 1;
  height: 100%;
  transform: rotate(90deg) translateY(50%);
  transform-origin: 0 100%;
}
.nav-item:hover::after {
  /* right: 50%; */
  height: 100%;
  opacity: 1;
  right: 50%;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
}

#main-logo {
  height: 3em;
  padding-left: 10px;
  padding-top: 5px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets portrait, 768px and up)  */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .topnav {
    padding-right: 10px;
  }

  .mobile-nav {
    display: none;
  }

  .desktop-nav {
    display: flex;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
