#list-genres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  background-color: rgba(226, 217, 217, 0.3);
}

#list-genres {
  /* display: none; */
  /* width: 100%;
  left: 0;
  background-color: var(--offwhite);
  opacity: .1;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  /* z-index: 1;
  border-radius: 5px; */
}

#list-genres button {
  margin: 10px;
  border: none;
  border-radius: 5px;
  color: var(--offwhite);
  background: none;
  cursor: pointer;
  padding: 5px 5px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1rem;
}

#list-genres button:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#list-genres button:hover {
  background-color: var(--purple);
  transition: 180ms;
}


.single-genre {
  color: white;
}

.single-genre:visited {
  background-color: var(--purple);
}

@media only screen and (max-width: 600px) {
  #list-genres button {
    font-size: .7rem;
  }
}
