@import './style-variables.css';

.landing-body {
  background-color: #eeeeee;
  font-family: var(--fontfamily);
  padding: 0px;
}

.landing-body a {
  color: white;
  border-radius: 3px;
}

#link-container {
  height: 100vh;
  max-width: 100%;
  background-image: url('%PUBLIC_URL%../../images/landing-bg-v1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

#link-info {
  position: relative;
  top: 24.5vh;
  left: 0;
  right: 0;
}

#link-info a {
  padding: 15px 25px;
  text-decoration: none;
}

#landing-quote {
  color: var(--darkgrey);
  position: relative;
  top: 15vh;
  left: 0;
  right: 0;
}

#landing-quote h3 {
  opacity: 0.7;
  font-family: var(--fontfamily);
  font-size: 2em;
  margin: 2px 0px;
}

.landing-links {
  border-radius: 10px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  position: relative;
  display: inline-block;
}

.landing-links a {
  font-family: var(--fontfamily);
}

.landing-color {
  background-color: var(--lightgrey);
  opacity: 0.8;
  box-shadow: 0px 3px 0px 0px #525252;
  font-family: var(--fontfamily);
}

.landing-color:hover {
  background-color: #b573d0;
}

#overview {
  padding: 0.5rem;
  margin: 2em auto;
  max-width: 800px;
  flex-flow: row;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

#overview img {
  width: 500px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#movie-summary {
  text-align: center;
  margin: 0;
}

#info-container {
  background: var(--purple);
  color: var(--offwhite);
  text-align: center;
  font-size: 1rem;
  padding: 1em 1em 1.7em 1em;
  display: flex;
  justify-content: space-evenly;
}

#info-container .info-card {
  /* border: 1px solid black; */
  padding: 25px;
}

#info-container .info-card img {
  width: 3rem;
  height: 3rem;
}

#info-container .info-card h2 {
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 8px;
  text-shadow: 1px 1px 0.6px var(--darkgrey);
}

#info-container .info-card p {
  padding: 2px;
}

/* a {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 10px;
  color: var(--darkgrey);
  background-color: var(--offwhite);
  border: solid var(--purple) 2px;
  box-shadow: 2px 4px 3px var(--lightgrey);
}

a:hover {
  background-color: rgba(136, 56, 140, 0.70);
} */
