#lloyd-outline {
  width: 100vw;
  position: relative;
}

#chatbot-btn {
  height: 100%;
}

#lloyd-button-wrapper:hover {
  background-color: #b573d0;
  opacity: 0.8;
  border-radius: 50%;
  border: solid 2px #b573d0;
  cursor: pointer;
}

#lloyd-button-wrapper {
  border: none;
  position: fixed;
  bottom: 5px;
  right: 15px;
  z-index: 999;
  opacity: 0.9;
  text-decoration: none;
  width: 50px;
  height: 50px;
  background-color: var(--offwhite);
  border-radius: 15%;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  padding: 2px;
  overflow: hidden;
  outline: none;
}

#close-chat {
  position: absolute;
  top: 13px;
  right: 235px;
  width: 50px;
  height: 50px;
}

/* .botui-container {
  float: right;
} */

/* @media only screen and (max-width: 525px) {
  .botui-container {
    width: 300px;
  }
} */

/* @media only screen and (max-height: 640px) {
  #lloyd-outline {
    height: 300px;
    right: 65px;
    bottom: 65px;
  }
} */

/* @media only screen and (max-width: 525px) {
  .botui-container {
    width: 300px;
  }
} */

/* @media only screen and (max-height: 640px) {
  .botui-container {
    height: 300px;
  }
} */
