@import './reset.css';
@import './style-variables.css';

body {
  margin-top: 55px;
  background-color: var(--darkgrey);
  font-family: var(--fontfamily);
  font-size: 20px;
}

/* lloyd-chat {
  color: red;
  background: red;
  height: 100px;
} */
