@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import './reset.css';
@import './style-variables.css';

body {
  margin-top: 55px;
  background-color: var(--darkgrey);
  font-family: var(--fontfamily);
  font-size: 20px;
  height: 100%;
}

button {
  font-size: 1.3rem;
  margin: 10px;
  background-color: var(--purple);
  color: var(--offwhite);
  border-radius: 5px;
  border-color: var(--red);
}
