@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import './style-variables.css';

/* =========================== RESETS =========================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* =========================== MAIN =========================== */

body {
  margin-top: 55px;
  background-color: var(--darkgrey);
  font-family: var(--fontfamily);
  font-size: 20px;
  height: 100%;
}

/* .google-link { 
  align-items: center;
  display: flex;
} */

@media only screen and (max-width: 600px) {
  body {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 450px) {
  body {
    margin-top: 30px;
  }
}

/* button {
  font-size: 1.3rem;
  margin: 10px;
  background-color: var(--darkgrey);
  color: var(--offwhite);
  border-radius: 5px;
  border-color: var(--red);
} */

::-webkit-scrollbar {
  opacity: 0;
}

::-webkit-scrollbar-track {
  background: var(--darkgrey);
  border-radius: 1px;
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--offwhite);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--purple);
}