@import './style-variables.css';

/* ======================================================= */
/* General */
/* ======================================================= */

.movie-feed {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-feed-item {
  position: relative;
  border: 1px solid var(--red);
  border-radius: 20px;
  margin: 20px;
  height: 300px;
  width: 80vw;
  line-height: 1.4;
  font-family: var(--fontfamily);
  color: var(--midgrey);
  /* transition: 0.6s; */
  animation: rotate-inverse 0.5s linear both;
  transform-style: preserve-3d;
  /* perspective: 1000px; */
}

.movie-feed-item.flip {
  /* transform: rotateX(180deg); */
  animation: rotate 0.5s linear both;
}

.movie-feed-item:hover {
  cursor: pointer;
}

.movie-feed-item:focus {
  outline: none;
  /* transition: 0s; */
  box-shadow: 0px 0px 4px 5px var(--red);
}

/* ======================================================= */
/* Side Setup */

@keyframes rotate {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(180deg);
  }
}

@keyframes rotate-inverse {
  0% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0);
  }
}

.movie-feed-item .item-front,
.movie-feed-item .item-back {
  border-radius: inherit;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  backface-visibility: hidden;
  overflow: hidden;
}

.movie-feed-item .item-front {
  transform: rotateX(0deg);
  --info-width: 65%;
}

.movie-feed-item .item-back {
  /* background-color: var(--popcornyellow); */
  background: linear-gradient(
    to bottom,
    /* yellow 0%, */ var(--popcornyellow) 45%,
    var(--offwhite) 100%
  );
  z-index: -10;
  transform: rotateX(180deg);
  padding: 25px;
}

/* ======================================================= */
/* Front Side Elements */
/* ======================================================= */

/* ======================================================= */
/* Backdrop */

.movie-feed-item .backdrop {
  position: absolute;
  border-radius: inherit;
  height: 100%;
  /* width: 60%; */
  right: 0;
  z-index: -1;
  overflow: hidden;
  background-color: var(--purple);
}

.movie-feed-item .backdrop img {
  width: 100%;
  z-index: -2;
  border-radius: inherit;
  right: -25%;
  position: relative;
}

/* ======================================================= */
/* Info Section */

.movie-feed-item .info {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 25px;
  background: linear-gradient(
    to right,
    var(--offwhite) calc(var(--info-width) - 5%),
    transparent 100%
  );
}

.movie-feed-item .info .poster {
  height: 100%;
  width: auto;
  float: left;
  padding-right: 25px;
}

.movie-feed-item .item-front .title {
  width: var(--info-width);
}

.movie-feed-item .info .directors {
  width: var(--info-width);
}

.movie-feed-item .info .numbers {
  width: var(--info-width);
}

.movie-feed-item .info .genres {
  color: var(--lightgrey);
  width: var(--info-width);
}

/* ======================================================= */
/* Ratings */

.movie-feed-item .info .ratings {
  width: var(--info-width);
}

.movie-feed-item .ratings img {
  height: 1em;
  margin: 1px 4px 1px 1px;
  vertical-align: text-top;
}

.movie-feed-item .ratings span {
  height: 1em;
  padding: 5px 10px 5px 0px;
  vertical-align: middle;
}

/* ======================================================= */
/* Streams */

.movie-feed-item .info .streams {
  display: flex;
  flex-wrap: wrap;
  width: var(--info-width);
  /* align-items: center; */
}

.movie-feed-item .streams .offer {
  overflow: hidden;
  border-radius: 5px;
  border: 2px solid var(--purple);
  margin: 3px;
  align-items: center;
}

.movie-feed-item .streams .offer img {
  height: 50px;
}

/* .movie-card .streams .offer img {
  border: 2px solid var(--purple);
  border-radius: 5px;
  height: 100%;
} */

/* ======================================================= */
/* Shared Elements */
/* ======================================================= */

.movie-feed-item .title {
  color: var(--darkgrey);
  line-height: 1.2;
}

.movie-feed-item .title .year {
  font-size: 0.8em;
  font-weight: 500;
  /* color: var(--midgrey); */
}

.movie-feed-item .certification {
  padding: 4px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: var(--lightgrey);
  font-size: 0.9rem;
  font-weight: bold;
  margin-left: 10px;
  vertical-align: middle;
  white-space: nowrap;
}

/* ======================================================= */
/* Back Side Elements */
/* ======================================================= */

.movie-feed-item .item-back .plot {
  font-size: calc(0.3em + 0.9vw);
}

.movie-feed-item .item-back .trailer {
  width: 40%;
  float: right;
  vertical-align: middle;
  margin: 20px;
  margin-right: 0px;
}
