/* ========================================================================== */
/* ========================================================================== */
/* Imports */
@import "./style-variables.css";

/* ========================================================================== */
/* Main */

#card-modal {
  background-color: var(--red);
}

yamovie-movie-card {
  z-index: 10;
  position: fixed;
  left: 0;
  font-family: var(--fontfamily);
}

/* prettier-ignore */
yamovie-movie-card h1, h2, h3, h4, h5, h6 {
	margin: 2px 0px;
	text-align: center;
}

yamovie-movie-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60vh 20vh;
}

yamovie-movie-card .grid-item {
  background-color: var(--offwhite);
  font-size: 20px;
  padding: 5px;
  margin: 3px;
}

/* ========================================================================== */
/* Close */

yamovie-movie-card .close-modal {
  font-size: 20px;
  color: black;
  cursor: pointer;
  right: 0;
  float: right;
  z-index: 1;
}

/* ========================================================================== */
/* Trailer */

yamovie-movie-card #trailer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* ========================================================================== */
/* Movie Info */

yamovie-movie-card #info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

yamovie-movie-card #info h1 {
  color: var(--darkgrey);
  font-size: 3vw;
}

yamovie-movie-card #info h3 {
  color: var(--lightgrey);
  font-size: 2.2vw;
}

yamovie-movie-card #info h6 {
  color: var(--lightgrey);
  font-size: 1.5vw;
}

yamovie-movie-card #info p {
  color: var(--darkgrey);
  padding: 3px 6px;
  margin: 8px 0px;
  font-size: 1.8vw;
}

yamovie-movie-card #ratings {
  display: flex;
  justify-content: space-evenly;
  margin: 5px 0px;
  font-size: 2vw;
  color: var(--darkgrey);
}

yamovie-movie-card #ratings li {
  list-style: none;
  padding: 4px;
}

yamovie-movie-card #ratings li img {
  height: 18px;
  width: 18px;
  float: left;
  margin: 3px 6px 2px 2px;
}

yamovie-movie-card #ratings li a {
  text-decoration: none;
  color: var(--darkgrey);
}

/* ========================================================================== */
/* Nav/Watch At Links */

yamovie-movie-card #watchat {
  display: flex;
  flex-direction: column;
  grid-column-start: span 2;
  justify-content: space-evenly;
  padding: 10px;
}

yamovie-movie-card #watchat h3 {
  color: var(--darkgrey);
  text-align: center;
  margin-top: 8px;
  margin-bottom: 15px;
  font-size: 3.5vh;
}

yamovie-movie-card #streamnav {
  display: flex;
  justify-content: space-evenly;
  margin: 4px 0px;
}

yamovie-movie-card #streamnav li {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 3vh;
}

yamovie-movie-card #streamnav li img {
  height: 20px;
  float: left;
  margin: 3px 6px 2px 2px;
}

/* ========================================================================== */
/* ========================================================================== */
