@import './style-variables.css';

.movie-card {
  --modalheight: 82vh;
  --modalwidth: 88vw;

  display: flex;
  justify-content: center;
  padding: 2vh 0px;
  z-index: 10;
  position: fixed;
  top: var(--nav-height);
  width: 100%;
  height: 100%;
  font-family: var(--fontfamily);
  color: var(--midgrey);
  background-color: rgba(35, 38, 46, 0.6);
}

/* ======================================================= */
/* Backdrop */

.movie-card .backdrop {
  border-radius: 20px;
  height: var(--modalheight);
  width: var(--modalwidth);
  position: absolute;
  z-index: -1;
  overflow: hidden;
  background-color: var(--purple);
}

.movie-card .backdrop img {
  width: 100%;
  z-index: -2;
  border-radius: 20px;
  position: absolute;
}

.movie-card .backdrop .overlay {
  background-color: var(--darkgrey);
  opacity: 0.5;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* ======================================================= */
/* ======================================================= */
/* Info section */

.movie-card .info {
  border-radius: 20px;
  background: linear-gradient(to top, var(--offwhite) 50%, transparent 100%);
  position: absolute;
  height: var(--modalheight);
  width: var(--modalwidth);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ======================================================= */
/* Info Heading */

.movie-card .info .heading {
  margin-top: 13%;
  position: relative;
  padding: 0px 25px;
  height: 30%;
  overflow: hidden;
}

.movie-card .heading .poster {
  position: relative;
  float: left;
  margin-right: 20px;
  height: 100%;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}

.movie-card #line1 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.movie-card .heading h1 {
  color: var(--darkgrey);
  font-weight: 500;
  margin: 0;
  font-size: 3vw;
}

.movie-card #line1 .certification {
  margin-left: 10px;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 1.2vw;
  font-weight: bold;
  text-shadow: 0.25px 0.25px 0.25px var(--red);
}

.movie-card .heading h4 {
  font-weight: 400;
  margin: 0;
  font-size: 1.8vw;
}

.movie-card .heading .genres {
  display: inline-block;
  margin-left: 10px;
  color: var(--lightgrey);
  font-size: 2vw;
}

.movie-card .heading .runtime {
  display: inline-block;
  /* margin-top: 15px; */
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1.7vw;
}

/* ======================================================= */
/* Info Description */

.movie-card .description {
  color: var(--darkgrey);
  padding: 15px 25px;
  overflow: hidden;
  height: 40%;
}

.movie-card .description p {
  margin: 0;
  font-size: 1.8vw;
}

/* ======================================================= */
/* Info Ratings */

.movie-card #line2 {
  display: flex;
  align-items: center;
  height: 1.4em;
  margin: 5px 0px;
}

.movie-card #ratings {
  display: flex;
  justify-content: space-evenly;
  margin-left: 15px;
  font-size: 1.8vh;
  overflow: hidden;
}

.movie-card #ratings li {
  list-style: none;
  padding: 0px 5px;
}

.movie-card #ratings li img {
  height: 1.5vw;
  margin-right: 4px;
}

.movie-card #ratings li a {
  text-decoration: none;
  color: var(--darkgrey);
  font-size: 1.5vw;
  display: flex;
}

/* ======================================================= */
/* Info Streams */

.movie-card #streams {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 12%;
  margin: 5px 25px;
}

.movie-card #streams h3 {
  margin: 0;
  font-size: 2.5vh;
}

.movie-card #streams .offer {
  overflow: hidden;
  border-radius: 5px;
  margin: 3px;
  height: 70%;
  align-items: center;
}

.movie-card #streams .offer img {
  border: 2px solid var(--purple);
  border-radius: 5px;
  height: 100%;
}

/* ======================================================= */
/* Close Button */

.movie-card .close-modal {
  position: absolute;
  cursor: pointer;
  right: 0px;
  z-index: 1;
  border-radius: 20px;
  width: 30px;
  height: 30px;
}

.movie-card button {
  font-size: 1.3rem;
  margin: 10px;
  background-color: var(--purple);
  color: var(--offwhite);
  border-radius: 5px;
  border-color: var(--red);
}

/* ======================================================= */
/* Watchlist Button*/
.watchlist {
  position: absolute;
  right: 10px;
  bottom: 10px;
  border: none;
  margin: 0;
  text-decoration: none;
  background-color: none;
  color: var(--purple);
}

.watchlist:hover {
  color: var(--red);
}

/* ======================================================= */

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {
  .movie-card {
    color: var(--offwhite);
  }
} */
