.parent .card-container {
  background: linear-gradient(to left, var(--darkgrey) 1%, transparent 100%);
  width: 100%;
  height: 200px;
  border-radius: 5px 0% 0% 0%;
  cursor: pointer;
  transition: height 500ms 0ms, opacity 500ms 500ms;
}

.parent {
  width: 70%;
}

.parent .card-button {
  width: 100%;
  border-radius: 5px 0% 0% 0%;
  outline: none;
  border: none;
  transform: rotate(0deg);
  transition: all 0.2s ease-in;
}

.parent .card-button:hover {
  transform: scale(1.01) rotate(0deg);
}

.parent .movieitem-info {
  display: flex;
  flex-direction: row;
  /* justify-items: center; */
}

.parent .movieitem-poster {
  position: relative;
  top: 10px;
  left: 10px;
  width: 120px;
  height: 180px;
}

.parent .movieitem-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: var(--darkgrey);
  font-size: 12px;
}

.parent .movieitem-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3%;
  margin-right: auto;
}

.parent .cert-runtime {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.parent .movieitem-card {
  color: var(--darkgrey);
  width: 100%;
  height: 50vh;
  border-radius: 0% 0% 2% 2%;
  transition: all 0.3s ease-in-out;
}

/* Backdrop */

.parent .backdrop {
  position: absolute;
  overflow: hidden;
  background-color: var(--purple);
}

.parent .backdrop img {
  width: 100%;
  position: absolute;
}

/* Movie Drop Down Description */

.parent .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0% 0% 2% 2%;
  background: linear-gradient(to top, var(--offwhite) 30%, transparent 100%);
  height: 50vh;
  overflow: hidden;
  text-align: center;
}

.parent .description p {
  margin-bottom: 0;
}

.parent .description-content {
}

/* #streams {
  display: table-cell;
  table-layout: auto;
  vertical-align: middle;
} */

/* Movie Certifications ====================  */

.parent .item-certification {
  width: 50px;
  margin-right: 5px;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 12px;
  font-weight: bold;
}

/* Movie Runtime ========================== */

.parent .item-runtime {
  width: 70px;
  display: inline-block;
  /* margin-top: 15px; */
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 12px;
}

/* Movie Genres ============================ */

.parent .genres {
  display: inline-block;
  text-align: left;
  color: var(--darkgrey);
  font-size: 20px;
}

/* Movie Ratings =========================== */

#ratings {
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
  overflow: hidden;
  margin-top: 8px;
}

#ratings li {
  list-style: none;
  margin-right: 15px;
}

#ratings li img {
  height: 1.5vw;
  margin-right: 4px;
}

#ratings li a {
  text-decoration: none;
  color: var(--darkgrey);
  font-size: 15px;
  display: flex;
}

/* Link Streams =========================== */

#streams {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 70px;
  margin: 5px 25px;
}

#streams h3 {
  margin: 0;
  font-size: 2.5vh;
}

#streams .offer {
  overflow: hidden;
  border-radius: 5px;
  margin: 3px;
  height: 70%;
  align-items: center;
}

#streams .offer img {
  border-radius: 5px;
  height: 100%;
}

/* Movie Trailer ============================ */

.parent .trailer-container {
  display: flex;
  justify-content: center;
  padding: 3vh 0px;
  z-index: 99;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  font-family: var(--fontfamily);
  color: var(--midgrey);
  background-color: rgba(17, 18, 20, 0.9);
}

.parent .movie-trailer {
  position: relative;
  top: 25%;
  right: 15%;
  height: 400px;
  width: 800px;
  transition: all 0.3s ease-in-out;
}

.parent .trailer-button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  color: blue;
  font-size: 20px;
  margin-bottom: 20px;
}

.parent .close-trailer-button {
  height: 25px;
  width: 60px;
  position: absolute;
  bottom: 10%;
  left: 35%;
  outline: none;
  border: none;
  background-color: var(--purple);
  color: white;
  font-size: 20px;
}

/* Animated Open/Close Button =============== */

.parent .menu-toggle {
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  top: 25%;
  right: 1%;
  margin: 20px;
  padding: 0px;
  height: 40px;
  width: 40px;
  font-size: 20px;
  color: rgba(35, 38, 46, 0.8);
  font-weight: bold;
  border-radius: 50%;
  background-color: var(--offwhite);
  transform: rotate(0deg);
  transition: all 0.2s ease-in;
  border: 0 none;
}

.parent .menu-toggle:hover {
  cursor: pointer;
  transform: scale(1.1) rotate(0deg);
}

.parent .menu-toggle:focus {
  cursor: pointer;
  outline: 0 none;
}

.parent .close-button {
  cursor: pointer;
  transform: rotate(45deg);
  background-color: var(--red);
}

.parent .close-button:hover {
  transform: scale(1.1) rotate(45deg);
}

/* Animated Dropdown ====================== */

.parent .dropdown-appear {
  opacity: 0.01;
}

.parent .dropdown-appear.dropdown-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.parent .dropdown-enter {
  opacity: 0.01;
}

.parent .dropdown-enter.dropdown-enter-active {
  opacity: 1;
  transition: opacity 600ms ease-in;
}

.parent .dropdown-leave {
  opacity: 1;
}

.parent .dropdown-leave.dropdown-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-out;
}

/* Animated Button ====================== */

.parent .button-appear {
  opacity: 0.01;
}

.parent .button-appear.button-appear-active {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.parent .button-enter {
  opacity: 0.01;
}

.parent .button-enter.button-enter-active {
  opacity: 1;
  transform: rotate(45deg);
  transition: opacity 500ms ease-in;
}

.parent .button-leave {
  opacity: 1;
}

.parent .button-leave.button-leave-active {
  opacity: 0.01;
  transform: rotate(0deg);
  transition: opacity 300ms ease-in;
}
