:local html {
  text-align: center;
}

:local h1 {
  background-color: var(--purple);
  margin: 0px;
  padding: 10px;
  color: var(--offwhite);
  text-shadow: 2px 2px var(--darkgrey);
}

.form {
  background-color: var(--offwhite);
  margin: 0px;
  /* padding: 10px 0px; */
}

:local ul {
  padding: 10px 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.odds {
  background-color: var(--offwhite);
}

.evens {
  background-color: var(--popcornyellow);
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 40vw;
}

:local button {
  font-size: 24px;
  margin: 10px;
  margin-left: 5%;
  background-color: var(--purple);
  color: var(--offwhite);
}
