@import './style-variables.css';

:root {
  --modalheight: 82vh;
  --modalwidth: 85vw;
}

.movie-card {
  display: flex;
  justify-content: center;
  padding: 3vh 0px;
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  font-family: var(--fontfamily);
  color: var(--midgrey);
  background-color: rgba(35, 38, 46, 0.6);
}

/* ======================================================= */
/* Backdrop */

.movie-card .backdrop {
  border-radius: 20px;
  height: var(--modalheight);
  width: var(--modalwidth);
  position: absolute;
  z-index: -1;
  overflow: hidden;
  background-color: var(--purple);
}

.movie-card .backdrop img {
  width: 100%;
  z-index: -2;
  border-radius: 20px;
  position: absolute;
}

.movie-card .backdrop .overlay {
  background-color: var(--darkgrey);
  opacity: 0.5;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* ======================================================= */
/* ======================================================= */
/* Info section */

.movie-card .info {
  border-radius: 20px;
  background: linear-gradient(to right, var(--offwhite) 50%, transparent 100%);
  position: absolute;
  height: var(--modalheight);
  width: var(--modalwidth);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ======================================================= */
/* Info Heading */

.movie-card .info .heading {
  position: relative;
  padding: 10px;
  height: 40%;
  overflow: hidden;
}

.movie-card .heading .poster {
  position: relative;
  float: left;
  margin-right: 20px;
  height: 100%;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}

.movie-card .heading h1 {
  color: var(--darkgrey);
  font-weight: 500;
  margin: 0;
  font-size: 3vw;
}

.movie-card .heading h4 {
  font-weight: 400;
  margin: 0;
  font-size: 1.8vw;
}

.movie-card #line1 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.movie-card #line1 p {
  margin-left: 5px;
}


.movie-card #line2 {
  display: flex;
  align-items: center;
  height: 20%;
  margin: 5px 0px;
  padding: 5px 0;

}

.movie-card #line2 .certification {
  margin-right: 5px;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 1.7vw;
  font-weight: bold;
}

.movie-card .heading .genres {
  padding: 5px 0;
  height: 30%;
  display: inline-block;
  color: var(--lightgrey);
  font-size: 2vw;
}

.movie-card .heading .runtime {
  display: inline-block;
  margin-right: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1.7vw;
}

/* ======================================================= */
/* Info Description */

.movie-card .directors {
  height: 15%;
  font-size: 0.9em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 70%;
}

.movie-card .description {
  color: var(--darkgrey);
  padding: 0 10px 10px;
  overflow: hidden;
  height: 60%;
  color: var(--midgrey);
}

.movie-card .description p {
  margin: 0;
  font-size: 1.8vw;
  width: 70%;
}

/* ======================================================= */
/* Info Ratings */

.movie-card #ratings {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.8vh;
  overflow: hidden;
}

.movie-card #ratings li {
  list-style: none;
  padding: 0px 5px;
}

.movie-card #ratings li img {
  height: 3vh;
  margin-right: 3px;
}

.movie-card #ratings li a {
  text-decoration: none;
  color: var(--darkgrey);
  font-size: 2.5vh;
  display: flex;
}

/* ======================================================= */
/* Info Streams */

.movie-card .streams {
  height: 30%;
  display: flex;
  flex-wrap: wrap;
}

.movie-card .streams .offer {
  /* border: 2px solid var(--purple); */
  border-radius: 5px;
  overflow: hidden;
  height: 55%;
  margin-right: 10px;
}

.movie-card .streams .offer img {
  height: 100%;
}

/* ======================================================= */
/* Close Button */

.movie-card .close-modal {
  position: absolute;
  cursor: pointer;
  right: 0px;
  z-index: 1;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  transition: all .3s ease-in-out;
}

.movie-card .close-modal:hover {
  transform: scale(1.1) rotate(45deg);
}

.movie-card .close-modal:focus {
  outline: none;
  border: 2px solid var(--purple);
}

.movie-card button {
  font-size: 1.3rem;
  margin: 10px;
  background-color: var(--darkgrey);
  color: var(--offwhite);
  border-radius: 5px;
  border: none;
  transform: rotate(45deg);
}

/* ======================================================= */
/* Trailer Button*/

.movie-feed-item .trailer-button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  color: blue;
  font-size: 1em;
  height: 15%;
  display: none;
}


/* ======================================================= */
/* Watchlist Button*/

.watchlist {
    height: 100%;
    border: none;
    margin-left: 10px;
    text-decoration: none;
    background-color: none;
    /* color: var(--purple); */
}

.watchlist:hover {
  color: gold;
}

.watchlist::after {
  color: gold;
}

/* ======================================================= */

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {
  .movie-card {
    color: var(--offwhite);
  }
} */