.navbar {
  display: flex;
  background-color: var(--purple);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-family: var(--fontfamily);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.navbar img {
  display: flex;
  height: 3em;
  padding-left: 10px;
  padding-top: 5px;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--purple);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-family: var(--fontfamily);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

#main-logo {
  height: 3em;
  padding-left: 10px;
  padding-top: 5px;
}

@media only screen and (max-width: 600px) {
  .navbar img {
    height: 2em;
  }
}

@media only screen and (max-width: 450px) {
  .navbar img {
    height: 1.5em;
    padding-left: 2px;
  }
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .nav-links li:not(:first-child) {display: none;}
  .nav-links li.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media only screen and (max-width: 600px) {
  .nav-links.responsive {position: relative;}
  .nav-links.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-links.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.desktop-nav {
  display: none;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets portrait, 768px and up)  */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .topnav {
    padding-left: 15px;
    padding-right: 15px;
  }
  .mobile-nav {
    display: none;
  }
  .desktop-nav {
    display: flex;
  }
  .nav-item {
    position: relative;
    color: var(--offwhite);
    text-decoration: none;
    margin-left: 20px;
    font-family: var(--fontfamily);
    padding: 10px;
    font-size: 18px;
  }

  /* .nav-item.active {
  } */

  .nav-item:before,
  .nav-item:after {
    position: absolute;
    width: 1px;
    height: 100%;
    /* transform: translateY(100%); */
    background: #fff;
    content: '';
    opacity: 0.2;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
  }

  .nav-item:before {
    transition: .3s ease;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: var(--offwhite);
    content: "";
    opacity: .1;
  }

  .nav-item:after {
    transition: .3s ease;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    background: var(--offwhite);
    content: "";
    opacity: .1;
  }

  .nav-item:hover::before {
    left: 50%;
    opacity: 1;
    height: 100%;
    transform: rotate(90deg) translateY(50%);
    transform-origin: 0 100%;
  }
  .nav-item:hover::after {
    /* right: 50%; */
    height: 100%;
    opacity: 1;
    right: 50%;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: 0 0;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


