.signup-page {
  background-image: url('/images/signup-bg-v1.jpg');
  height: 100vh;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.popcorn-logo {
  height: 60px;
}

.signup {
  /* background-color: var(--offwhite); */
  background-color: rgba(231, 230, 230, 0.9);
  width: 50%;
  height: 60%;
  margin: 0 auto;
  min-height: 400px;
  max-width: 500px;
  box-shadow: 0px 5px 10px 2px var(--lightgrey);
  border-radius: 5px;
  position: relative;
  top: 15%;
}

.form-container {
  display: block;
  text-align: center;
}

.signup form {
  display: inline-block;
}

.signup header {
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.signup-input {
  margin: 5px;
  font-size: 20px;
  border-radius: 15px;
  border-color: var(--purple);
  outline: none;
  width: 300px;
  height: 30px;
  padding-left: 10px;
}

.signup-input::placeholder {
  padding-left: 5px;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.signup-submit {
  background-color: var(--purple);
  font-size: 20px;
  color: white;
  width: 300px;
  height: 30px;
  margin: 5px auto;
  border-radius: 15px;
}

.signup-cancel {
  background-color: var(--purple);
  font-size: 20px;
  color: white;
  width: 300px;
  height: 30px;
  margin: 5px auto;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
}



@media only screen and (max-width: 650px) {
  .signup {
    width: 300px;
  }

  .signup-input {
    width: 200px;
  }

  .signup-submit {
    width: 200px;
  }

  .signup-cancel {
    width: 200px;
  }
}
