.account-wrapper {
  display: flex;
  height: 100%;
}

.account-nav {
  display: flex;
  justify-content: center;
  background: var(--offwhite);
  height: 100vh;
  width: 20%;
}

.account-nav ul {
  margin: 0;
  list-style-type: none;
}
.account-nav ul li {
  padding: 25px 0;
}

.account-nav ul li a {
  text-decoration: none;
  color: var(--darkgrey)
}

.account-page {
  width: 75%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch input[type=checkbox]:checked + .slider {
  background: green;
}

.switch input[type=checkbox]:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider {
  border-radius: 34px;
  box-sizing: border-box;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  left: 4px;
  bottom: 4px;
  width: 26px;
  height: 26px;
  background-color: white;
  transition: .4s;
  -webkit-transition: .4s;
  border-radius: 50%;
}

.white {
  color: var(--offwhite);
}

.account-sub-title {
  color: var(--offwhite);
  text-align: left;
}

.account-title {
  color: var(--offwhite);
  text-align: left;
}

.single-genre {
  padding-left: 10px;
  padding-right: 10px;
  color: var(--offwhite)
}
