@import './style-variables.css';

.checkbox-form {
  --edge-curve: 10px;
  --background: var(--midgrey);
  --hover-color: var(--popcornyellow);

  overflow: hidden;
  width: 85%;
  border-radius: var(--edge-curve);
  background-color: var(--background);
  color: var(--offwhite);
  font-size: 1.1rem;
  margin: 10px;
}

/* ======================================================= */

.checkboxes {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* ======================================================= */

.single-option {
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 5px;
  padding: 5px;
  min-height: 3.5rem;

  border-radius: 15px;
  border: 1px solid var(--background);
}

.single-option.checked {
  border: 1px solid var(--darkgrey);
  background-color: var(--purple);
  opacity: 0.9;
}

.single-option:hover,
.single-option:focus {
  color: var(--hover-color);
  border: 1px solid var(--hover-color);
}

.single-option .icon {
  border-radius: 5px;
  margin-right: 7px;
  margin-left: 5px;
  height: 1.5em;
}

/* ======================================================= */
/* Buttons */

.checkbox-form .buttons {
  --edge-border: 1px solid var(--darkgrey);

  display: flex;
  border-radius: 0px 0px var(--edge-curve) var(--edge-curve);
  border-top: var(--edge-border);
}

.checkbox-form .buttons .reset,
.checkbox-form .buttons .select-all {
  color: var(--offwhite);
  font-size: 1em;
  width: 50%;
  padding: 5px 10px;
  border: none;
  background-color: var(--purple);
}

.checkbox-form .buttons .reset {
  border-radius: 0px 0px var(--edge-curve) 0px;
}

.checkbox-form .buttons .select-all {
  border-radius: 0px 0px 0px var(--edge-curve);
  border-right: var(--edge-border);
}

.checkbox-form .reset:active,
.checkbox-form .select-all:active {
  background-color: var(--red);
}

.checkbox-form .reset:hover,
.checkbox-form .select-all:hover {
  cursor: pointer;
  opacity: 0.8;
  border: none;
  color: var(--hover-color);
  box-shadow: 0px 1px 1px 1px var(--hover-color);
}

.checkbox-form .reset:focus,
.checkbox-form .select-all:focus {
  outline: none;
}

/* ======================================================= */
/* Responsiveness */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .checkboxes {
    display: flex;
    flex-direction: column;
  }
}

/* Medium devices (tablets portrait, 768px and up)  */
@media (max-width: 768px) {
  .checkboxes {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}
