@import './style-variables.css';

.dashboard-page {
  display: flex;
  /* justify-content: space-between; */
  min-height: calc(100vh - var(--nav-height));
}

/* ===================================================== */
/* Nav Sidebar */

.account-nav {
  display: flex;
  justify-content: center;
  background: var(--offwhite);
  padding: 0 25px;
  width: 18%;
  position: sticky;
  top: var(--nav-height);
  height: calc(100vh - var(--nav-height));
}

.account-nav ul {
  margin: 0;
  list-style-type: none;
}
.account-nav ul li {
  padding: 25px 0;
}

.account-nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: var(--darkgrey);
}

.account-title {
  font-size: 35px;
  color: var(--offwhite);
  text-align: left;
}

.account-sub-title {
  font-size: 20px;
  color: var(--offwhite);
  text-align: left;
  /* padding: 15px 0; */
  line-height: 3;
}

/* ===================================================== */
