.account-wrapper {
  display: flex;
  height: 100%;
}

.account-nav {
  display: flex;
  justify-content: center;
  background: var(--offwhite);
  height: 100vh;
  width: 20%;
}

.account-nav ul {
  margin: 0;
  list-style-type: none;
}
.account-nav ul li {
  padding: 25px 0;
}

.account-nav ul li a {
  text-decoration: none;
  color: var(--darkgrey)
}

.account-page {
  width: 75%;
}
