@import './MovieInfoDisplay.css';

.stuff .movie-card {
  --modalheight: 82vh;
  --modalwidth: 88vw;

  display: flex;
  justify-content: center;
  padding: 15px 0px;
  z-index: 10;
  position: fixed;
  top: var(--nav-height);
  width: 100%;
  height: 100%;
  font-family: var(--fontfamily);
  color: var(--midgrey);
  background-color: rgba(35, 38, 46, 0.6);
}

/* ======================================================= */
/* Backdrop */

.stuff .movie-card .backdrop {
  border-radius: 20px;
  height: var(--modalheight);
  width: var(--modalwidth);
  position: absolute;
  z-index: -1;
  overflow: hidden;
  background-color: var(--purple);
  background-position-x: 15vw;
  background-size: cover;
}

.stuff .movie-card .backdrop img {
  width: 100%;
  z-index: -2;
  border-radius: 20px;
  position: absolute;
}

.stuff .movie-card .backdrop .overlay {
  background-color: var(--darkgrey);
  opacity: 0.5;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* ======================================================= */
/* ======================================================= */
/* Info section */

.stuff .movie-card .info {
  border-radius: 20px;
  background: linear-gradient(to right, var(--offwhite) 50%, transparent 100%);
  position: absolute;
  height: var(--modalheight);
  width: var(--modalwidth);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* iPhoneX screen width */
@media only screen and (max-width: 375px) {
}

/* ======================================================= */
/* Info Heading */

.stuff .movie-card .info .heading {
  position: relative;
  padding: 25px;
  height: 45%;
  overflow: hidden;
}

.stuff .movie-card .heading .poster {
  position: relative;
  float: left;
  margin-right: 20px;
  height: 100%;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 600px) {
  .stuff .movie-card .heading .poster {
    display: none;
  }
}

.stuff .movie-card .heading h1 {
  color: var(--darkgrey);
  font-weight: 500;
  margin: 0;
  font-size: calc(12px + 2vw);
}

.stuff .movie-card .heading h4 {
  font-weight: 400;
  margin: 0;
  font-size: 1.8vw;
}

.stuff .movie-card #line1 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.stuff .movie-card #line1 p {
  margin-left: 10px;
  font-size: calc(12px + 1vw);
}

.stuff .movie-card #line2 {
  display: flex;
  align-items: center;
  height: 20%;
  margin: 5px 0px;
  padding: 5px 0;
}

.stuff .movie-card #line2 .certification {
  margin-right: 5px;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: calc(12px + 0.8vw);
  font-weight: bold;
}

.stuff .movie-card .heading .genres {
  padding: 5px 0;
  height: 30%;
  display: inline-block;
  color: var(--lightgrey);
  font-size: calc(12px + 0.5vw);
}

.stuff .movie-card .heading .runtime {
  display: inline-block;
  margin-right: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: calc(12px + 0.8vw);
}

/* ======================================================= */
/* Info Description */

.stuff .movie-card .directors {
  height: 10%;
  font-size: calc(12px + 0.5vw);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 70%;
}

.stuff .movie-card .description {
  color: var(--darkgrey);
  /* padding: 0 10px 10px; */
  padding: 0px 25px 25px 25px;
  overflow: hidden;
  height: 55%;
  color: var(--midgrey);
}

.stuff .movie-card .description p {
  margin: 0;
  font-size: calc(12px + 1vw);
  overflow: auto;
  height: 100%;
  width: 70%;
}

/* iPhoneX screen width */
@media only screen and (max-width: 375px) {
  .stuff .movie-card .description p {
    width: 100%;
  }
}

/* ======================================================= */
/* Close Button */

.stuff .movie-card .close-modal {
  position: absolute;
  cursor: pointer;
  right: 0px;
  z-index: 1;
  border-radius: 20px;
  border: solid;
  border-color: var(--offwhite);
  border-width: 1px;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease-in-out;
}

.stuff .movie-card .close-modal:hover {
  transform: scale(1.1) rotate(45deg);
}

.stuff .movie-card .close-modal:focus {
  outline: none;
  border: 2px solid var(--purple);
}

.stuff .movie-card button {
  font-size: calc(12px + 0.8vw);
  margin: 10px;
  background-color: var(--darkgrey);
  color: var(--offwhite);
  border-radius: 5px;
  border: none;
  transform: rotate(45deg);
}

/* iPad screen width */
@media only screen and (max-width: 768px) {
  .stuff .movie-card .close-modal {
    width: 30px;
    height: 30px;
  }
}

/* ======================================================= */
/* Trailer Button*/

.movie-feed-item .trailer-button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  color: blue;
  font-size: 1em;
  height: 15%;
  display: none;
}

/* ======================================================= */
/* Watchlist Button*/

.stuff .watchlist {
  height: 100%;
  border: none;
  margin-left: 10px;
  text-decoration: none;
  background-color: none;
  /* color: var(--purple); */
}

.stuff .watchlist:hover {
  color: gold;
}

.stuff .watchlist::after {
  color: gold;
}

/* ======================================================= */

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {
  .stuff .movie-card {
    color: var(--offwhite);
  }
} */
