#mega-search-genres {
  position: sticky;
  z-index: 5;
  top: 65px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 0px 0px 5px 5px;
}

#browse-search {
  padding: 10px;
  width: 300px;
  margin: 0;
}

#browse-search input {
  background-color: var(--offwhite);
  background-image: url('/images/shared-pics/magnifier.png');
  background-position: 5px 5px;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 1);
  font-family: var(--fontfamily);
  padding-left: 30px;
}

#browse-search input::placeholder {
  /* text-align: center; */
  color: var(--darkgrey);
}

#display-genre-button {
  position: relative;
  left: 0;
  right: 0;
  font-size: 16px;
  border: none;
  color: var(--offwhite);
  border-radius: 5px;
  outline: none;
  padding: 0px 16px;
  font: inherit;
  margin: 0;
  display: flex;
  justify-content: center;
  background: none;
  cursor: pointer;
}

/* #display-genre-button:hover.list-genres {
  display: block;
} */

/* Both these media tags fixes the size of the mega menu when resized for small screens */
@media only screen and (max-width: 600px) {
  #browse-search input {
    font-size: 15px;
  }

  #display-genre-button {
    font-size: 13px;
  }
}
